{{!-- Recursive Handlebars partial for generating nested taxonomy accordion --}}

{{!-- Before rendering, the full taxonomy tree should have been flattened into
   -- an Array of plain Object blocks:
   --  * Consecutive leaf nodes are grouped together within a single Object
   --  * Branches of the tree are given one Object each, with a `children`
   --    property that can recursively contain more leaf/branch blocks
   --}}

{{#each children}}
  {{#if leaves}}
  {{!-- A leaf node block has the `leaves` property --}}

    <ul class="list-group list-group-flush">
      {{#each leaves}}
        <li class="list-group-item">
          <span style="padding-left: {{../padding}}px;">{{this}}</span>
        </li>
      {{/each}}
    </ul>

  {{else}}
  {{!-- A recursive sub-tree --}}

  {{!-- The sub-tree label --}}
    <a class="card-header d-flex w-100"
       id="heading-{{id}}"
       data-toggle="collapse"
       href="#collapse-{{id}}"
       role="button"
       aria-expanded="true"
       aria-controls="collapse-{{id}}">

      {{!-- Including space for an icon/symbol --}}
      <span style="padding-left: {{padding}}px;">
        <i class="fas fa-fw text-muted" aria-hidden="true"></i> {{label}}
      </span>
    </a>

    {{!-- The sub-tree children --}}
    <div class="collapse show"
         id="collapse-{{id}}"
         aria-labelledby="heading-{{id}}">

      {{> taxonomySubtree }}

    </div>

  {{/if}}
{{/each}}